body {
  background-color: brown;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card1 {
  background-color: white;
  margin: 50px;
}

.title {
  text-align: center;
}
#calcola {
  margin-top: 50px;
  margin-left: 80px;
}
.dati {
  padding-left: 30px;
}
.btn {
  display: flex;
  justify-content: center;
}
